<header>
        
        
    <img src="" alt="game mania">
    <div>
        <input type="search" name="buscar" id="buscar">
        <button id="b-buscar" value="">Buscar</button>
    </div>
  
    
    <nav>
        
        <a href="#">Central de Atendimento</a>
        <a href="#">Categorias</a>
        <a href="#">Contatos</a>
        <a href="#">Minha conta</a>
        
    </nav>
    <input type="button" value="login" id="login">
    
    
  
  </header>
  
  <main>
    <div id="banner">
        
        <h1>Conheça nossas melhores ofertas</h1>
    </div>
  
    <section class="galeria">
        <div class="galeria2">
            <h2>EM ALTA CELULARES</h2>
        </div>
        <div class="galeria3">
            <div>
                <img src="../assets/smartphone-g9e1cbd434_640.png" alt="" >
                <h3>Celular Galaxy1001,12gb de ram,processador pistão</h3>
                <div class="col-6 col-sm-3" >
                    <div class="prod-old" style="height:15px ;">
                        <del>
                            "de: "
                            <span>R$ 2.000,99</span>
                        </del>
                        "por: "
                    </div>
                    <div class="prod-new " style="height:15px;">
                        <span>R$ 1.599.99</span>
                        <small> á vista </small>
                    </div>
                    <div class="prod-juros" style="height:15px ;">
                        <span>12x</span>
                        <small>de</small>
                        <span>R$ 159,99</span>
                        <small>sem juros</small>
  
                    </div>
  
                </div>
            </div>
            
                
                    
                    
                
            <div>
                <img src="../assets/smartphone-g9e1cbd434_640.png" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                <div class="col-6 col-sm-3" >
                    <div class="prod-old" style="height:15px ;">
                        <del>
                            "de: "
                            <span>R$ 2.000,99</span>
                        </del>
                        "por: "
                    </div>
                    <div class="prod-new " style="height:15px;">
                        <span>R$ 1.599.99</span>
                        <small> á vista </small>
                    </div>
                    <div class="prod-juros" style="height:15px ;">
                        <span>12x</span>
                        <small>de</small>
                        <span>R$ 159,99</span>
                        <small>sem juros</small>
  
                    </div>
  
                </div>
            </div>
            <div>
                <img src="../assets/smartphone-g9e1cbd434_640.png" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                <div class="col-6 col-sm-3" >
                    <div class="prod-old" style="height:15px ;">
                        <del>
                            "de: "
                            <span>R$ 2.000,99</span>
                        </del>
                        "por: "
                    </div>
                    <div class="prod-new " style="height:15px;">
                        <span>R$ 1.599.99</span>
                        <small> á vista </small>
                    </div>
                    <div class="prod-juros" style="height:15px ;">
                        <span>12x</span>
                        <small>de</small>
                        <span>R$ 159,99</span>
                        <small>sem juros</small>
  
                    </div>
  
                </div>
            </div>
            <div>
                <img src="../assets/smartphone-g9e1cbd434_640.png" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                <div class="col-6 col-sm-3" >
                    <div class="prod-old" style="height:15px ;">
                        <del>
                            "de: "
                            <span>R$ 2.000,99</span>
                        </del>
                        "por: "
                    </div>
                    <div class="prod-new " style="height:15px;">
                        <span>R$ 1.599.99</span>
                        <small> á vista </small>
                    </div>
                    <div class="prod-juros" style="height:15px ;">
                        <span>12x</span>
                        <small>de</small>
                        <span>R$ 159,99</span>
                        <small>sem juros</small>
  
                    </div>
  
                </div>
            </div>
            
        </div>
        
        <div id="mais">
            <button>VER MAIS</button>
        </div>
    </section>
    <section class="galeria">
        <div class="galeria2">
            <h2>EM ALTA PCS</h2>
        </div>
        <div class="galeria3-1">
            <div class="pcs">
                <img src="../assets/monitor-g5cedb5181_1280.png" alt="" >
                <h3>Celular Galaxy1001,12gb de ram,processador pistão</h3>
                <div class="col-6 col-sm-3" >
                    <div class="prod-old" style="height:15px ;">
                        <del>
                            "de: "
                            <span>R$ 2.000,99</span>
                        </del>
                        "por: "
                    </div>
                    <div class="prod-new " style="height:15px;">
                        <span>R$ 1.599.99</span>
                        <small> á vista </small>
                    </div>
                    <div class="prod-juros" style="height:15px ;">
                        <span>12x</span>
                        <small>de</small>
                        <span>R$ 159,99</span>
                        <small>sem juros</small>
  
                    </div>
  
                </div>
            </div>
  
            <div>
                <img src="../assets/monitor-g5cedb5181_1280.png" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                <div class="col-6 col-sm-3" >
                    <div class="prod-old" style="height:15px ;">
                        <del>
                            "de: "
                            <span>R$ 2.000,99</span>
                        </del>
                        "por: "
                    </div>
                    <div class="prod-new " style="height:15px;">
                        <span>R$ 1.599.99</span>
                        <small> á vista </small>
                    </div>
                    <div class="prod-juros" style="height:15px ;">
                        <span>12x</span>
                        <small>de</small>
                        <span>R$ 159,99</span>
                        <small>sem juros</small>
  
                    </div>
  
                </div>
            </div>
            <div>
                <img src="../assets/monitor-g5cedb5181_1280.png" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                <div class="col-6 col-sm-3" >
                    <div class="prod-old" style="height:15px ;">
                        <del>
                            "de: "
                            <span>R$ 2.000,99</span>
                        </del>
                        "por: "
                    </div>
                    <div class="prod-new " style="height:15px;">
                        <span>R$ 1.599.99</span>
                        <small> á vista </small>
                    </div>
                    <div class="prod-juros" style="height:15px ;">
                        <span>12x</span>
                        <small>de</small>
                        <span>R$ 159,99</span>
                        <small>sem juros</small>
  
                    </div>
  
                </div>
            </div>
            <div>
                <img src="../assets/monitor-g5cedb5181_1280.png" alt="">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                <div class="col-6 col-sm-3" >
                    <div class="prod-old" style="height:15px ;">
                        <del>
                            "de: "
                            <span>R$ 2.000,99</span>
                        </del>
                        "por: "
                    </div>
                    <div class="prod-new " style="height:15px;">
                        <span>R$ 1.599.99</span>
                        <small> á vista </small>
                    </div>
                    <div class="prod-juros" style="height:15px ;">
                        <span>12x</span>
                        <small>de</small>
                        <span>R$ 159,99</span>
                        <small>sem juros</small>
  
                    </div>
  
                </div>
            </div>
            
        </div>
        <div id="mais">
            <button>VER MAIS</button>
        </div>
    </section>
  </main>
  
  <footer>
      <section>
          <div id="info">
              <img src="" alt="Game mania">
              <div>
                  <h3>INSTITUCIONAL</h3>
        
                  <nav>
                      <a href="">Quem somos</a>
                      <a href="">Termos e Condições de Venda</a>
                      <a href="">Política de Troca e Devoluções</a>
                      <a href="">Política de Segurança e Privacidade</a>
                      <a href="">Política de Cookies</a>
            
                  </nav>
              </div>
              <div>
                  <h3>DÚVIDAS</h3>
        
                  <nav>
                      <a href="">Como comprar</a>
                      <a href="">Prazos e entregas</a>
                      <a href="">Formas de Pagamento</a>
                      <a href="">Programa de Parceiros</a>
                    
            
                  </nav>
              </div>
              <div>
                  <h3>CLIENTE</h3>
                  <nav>
                      <a href="">Minha conta</a>
                      <a href="">Meus pedidos</a>
                      <a href="">Meus tickets</a>
                   
            
                  </nav>
              </div>
              <div id="redes">
                  <img src="../assets/youtube.png" width="45px" alt="" >
                  <img src="../assets/phone-call.png" width="45px" alt="">
                  <img src="../assets/facebook.png" width="45px" alt="" >
                  <img src="../assets/instagram.png" width="45px" alt="" >
                  <img src="../assets/location.png" width="45px" alt="" >
              </div>
        
              <div>
                  <ul>
                      <li>GAME MANIA</li>
                      <li>(99)9999-9999</li>
                      <li>GAME MANIA</li>
                      <li>GAME MANIA</li>
                      <li>LOJA FISICA</li>
                  </ul>
            
            
              </div>
          </div>
      </section>
      <section id="forma">
          <img src="../assets/forma de pagamento daten - logos-cartoes_.webp" width="560px" height="50px" alt="">
      </section>
  </footer>
  <form #userForm="ngForm">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)] = "user">

    <label for="senha"> Senha: </label>
    <input type="password" id="senha" ngModel>

    <button type="submit">enviar</button>
  </form>
